@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* REMOVE NUMBER INPUT SPINNERS */


/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox + Standard */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}